.input-user h4 {
    margin-bottom: 20px;
    animation: fadeInUp 0.5s ease-in;
}

.input {
    background-color: #fff;
    color: black;
    padding: 10px;
    border-radius: 7px;
    border: 1px solid black;
    margin-bottom: 10px;
    text-align: center;
    animation: fadeInUp 1s ease-in;
}

.btn {
    animation: fadeInUp 1.5s ease-in-out;
    background-color: black;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 7px;
    padding: 10px 66px;
    transition: 0.3s ease-in;
}

.btn:hover {
    scale: 0.95;
    background-color: rgb(65, 64, 64);

}